body{
    margin:0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #c3a3f1, #6414e9);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wheel{
    transform: rotate(0deg);
}

#containerQuestions, #answers{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question, #rightWrong{
    margin: 25px;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(240, 240, 240);
}

button{
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    margin-bottom: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#logoPerguntados{
    width: 500px;
    height: 500px;
    position: absolute;
    margin-left: 25%;
}

#score{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 15px;
    font-size: 1.5rem;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    color: rgb(240, 240, 240);
}